*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.keystore
!app/keystore/debug.keystore
*.jks
app/keystore/*.txt
.kotlin
/evgrab
/output-apks/
